@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    display: flex;
    height: 100%;
}
.image_decs_main_block {
    width: 40%;
    height: 100vh;
    background-color: #373737;
    position: relative;
    
}
.wrapper{
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.85;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1565D8;
}

.text_block{
    position: absolute;
    z-index: 2;
    color: white;
    text-align: center;
    font-size: 24px;
     padding: 0 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.reg{
    width: 100%;
    text-align: end;
    padding: 70px 50px 0 0 ;
}

.reg span {
    color: rgba(0, 0, 0, 0.356);
}

.reg span a:focus {
    outline: none;
    border: 1px solid blue;
}

.text {
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
    letter-spacing: 0%;
    vertical-align: middle;
    text-align: start;
}

.top_logo {
    position: absolute;
    top: 25px;
    left: 30px;
    color: white;
}

.top_logo_img {
    width: 43.6px;
    height: 30px;
}

.logo_vergul {
    position: absolute;
    width: 28;
    height: 117;
    opacity: 1;
    top: 130px;
    left: 82px;
}

.main_block_join_us {
    width: 60%;
    height: 100vh;
}

.autor {
    position: absolute;
    top: 470px;
    left: 80px;
}

.autor p {
    color: white;
    display: inline;;
}
.autor img {
    display: inline;
    height: 16px;
    width: 16px;
}

.vector {
    position: absolute;
    top: 530px;
    right: 135px;
}

.join_us {
    display: flex;
    flex-direction: column;
    padding: 60px 0 0 60px;
    width: 70%;
    gap: 20px;
}

.join_us p {
    font-size: 18px;
}

.join_us h2 {
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
}

.join_us button {
    width: 100%;
    display: block;
    border: none;
}

.join_us button:hover {
    border: 1px solid blue;
    border-radius: 10px;
    box-shadow: none;
}

.join_us button:focus {
    outline: none;
    border: 1px solid blue;
    border-radius: 10px;
}

.join_us button{
    margin: 15px 0 0 0;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.btn {
    display: flex;
}

.logo_first_btn {
    position: relative;
}

.logo_first_btn img:nth-of-type(1) {
    width: 52px;
    height: 52px;
    z-index: 1;
    margin: 20px;
}

.logo_first_btn img:nth-of-type(2) {
    position: absolute;
    width: 20px;
    height: 20px;
    z-index:2 ;
    top: 36px;
    left: 36px;
}

.word_first_btn{
    margin: 20px;
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.word_first_btn p:nth-of-type(1) {
    font-size: 16px;
}

.word_first_btn p:nth-of-type(2) {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.356);
}

.logo_arrow_right img {
    width: 20px;
    height: 20px;
}

.logo_arrow_right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.btn_second {
    display: flex;
}


.head_form {
    display: flex;
    width: 100%;
    padding: 40px 30px 0 30px;
    justify-content:space-between;
}

.head_form div:nth-of-type(1) {
    display: flex;
}

.head_form_img {
    width: 20px;
    height: 20px;
}

.head_form_img ~ p {
    color: #8692A6;
}

.right_head_form p:nth-of-type(1) {
    color: #BDBDBD;
    text-align: end;
    font-size: 14px;
}

.right_head_form p:nth-of-type(2) {
    text-align: start;
    font-size: 16px;
    color: #8692A6;
}

.form_first {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.form_first h2 {
    color: black;
    font-size: 20px;
    text-align: start;
}

.form_first p {
    color: #8692A6;
    font-size: 14px;
    text-align: start;
    line-height: 1.4;
}


.form_first input, select{
    height: 40px;
    padding-left: 20px; /* сдвинет placeholder вправо */
    border-radius: 10px;
    border: 2px solid rgba(68, 56, 56, 0.425);
}

.form_first input:focus::placeholder {
  color: #000;
}

.form_first input::placeholder {
    color: #8692A6;
}


.form_first label {
    text-align: start;
    font-size: 14px;
    color: #535964;
}

.form_first form {
    display: flex;
    flex-direction: column;
}

.form_checkbox {
    display: flex !important;
    flex-direction: row !important;
    margin-bottom: 10px;
}

.form_checkbox input {
    height: auto;
}

.form {
    width: 100%;
    align-items: center;
    height: 80%;
    padding: 40px 0 0 95px;
}

.border-red {
    border: 1px solid red;
}

.form_first div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0 0 0;
}

form button {
    height: 40px;
}

.hror {
    display: flex !important;
    flex-direction: row !important;
    gap: 20px !important;
    align-items: center;

}

.hror hr {
  flex: 1;          /* занимает всё доступное место по ширине */
  height: 1px;      /* тонкая линия */
  border: none;
  background: #000; /* цвет линии */
}

.btn_logo_google {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    border: none;
    background-color: white;
    box-shadow: 0px 4px 10px 0px #0000003b;
    cursor: pointer;
}

.btn_logo_google img {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 20px;
}

.btn_logo_google span {
    text-align: center;
}

.form_checkbox label {
    color: #3f4146;
}

hr {
  border: none;
  height: 1px;
  background: rgba(73, 76, 82, 0.103); /* синий, но полупрозрачный */
  border-radius: 1px; /* слегка скруглённые края */
  box-shadow: #373737;
}

.hror hr {
  border: none;
  height: 1px;
  background: rgba(73, 76, 82, 0.199); /* синий, но полупрозрачный */
  border-radius: 1px; /* слегка скруглённые края */
  box-shadow: #373737;
}

.register_acount {
    background-color: #1565D8;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.form_first input:focus {
    outline: none;
    border: 2px solid #1565D8;
}

.password {
    position: relative;
}

.password span {
    position: absolute;
    top: 35px;
    right: 20px;
    font-size: 14px;
}

.country_resedent {
    margin: 0 0 20px 0;
}

.info_security {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center;
    padding: 10px 0 0 0;
}

.info_security p {
    font-size: 12px;
}

.info_security img {
    width: 14px;
    height: 14px;
}


.number-fon {
    position: relative;
}

.code_country_choose {
    display: flex !important;
    flex-direction: row !important;
    position: absolute;
    left: 10px;
    top: 35px;
}

.code_country_choose span:nth-of-type(2) {
    display: flex !important;
    flex-direction: row !important;
}

.number-fon input {
    padding-left: 120px;
}

#sign_in {
    display: none;
}

#individual {
    display: none;
}

#business {
    display: none;
}

#click_sign_in {
    cursor: pointer;
    text-decoration: solid underline blue;
    color: blue;
    
}

#first_click_button, #second_click_button, #third_click_button {
    cursor: pointer;
}

#checkbox, #checkbox ~ label {
    cursor: pointer;
}

#country {
    cursor: pointer;
}